{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "import-lodash"
    ],
    [
      "import",
      {
        "libraryName": "date-fns",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "import-date-fns"
    ],
    ["import", { "libraryName": "antd", "style": true }, "import-antd"],
    [
      "import",
      { "libraryName": "formik-antd", "style": true },
      "import-formik-antd"
    ]
  ]
}
